*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
}
.App {
  text-align: center;
  margin: auto;
  padding: 2rem 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

#root {
  max-width: 48rem;
  margin: auto;
  padding: 2rem;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
}

.grid .tick line {
  stroke: #dfdfef;
  stroke-dasharray: 8, 8;
}
.grid .domain {
  display: none;
}
.tick line {
  stroke: #aab;
}
.domain {
  stroke: #aab;
}
.legend {
  text-anchor: end;
}

.line {
  stroke-linecap: round;
  fill: none;
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
}
.dot {
  fill: white;
  stroke-width: 2px;
  vector-effect: non-scaling-stroke;
}
.pie .text {
  text-anchor: middle;
}

.table-container{
  position: relative;
  display: flex;
}
.table-container::before,
.table-container::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 1rem;
}
.table-container::before {
  top: 0;
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0))
}
.table-container::after {
  bottom: 0;
  background: linear-gradient(to top, rgba(255,255,255,1), rgba(255,255,255,0))
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.table {
  overflow: auto;
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
  height: 7rem;
  flex: 1;
  text-align: left;
}
.row {
  scroll-snap-coordinate: 0% 0%;
  scroll-snap-align: none start;
  padding: 1rem 0;
  display: flex;
  align-items: center;
}
.pie {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
